# binaries
ffl_raylib_shader_basic
ffl_raylib_shader_fflshader
*.exe

# ffl resource file
FFLRes*.dat

# misc
*.swp
*.kate-swp
.DS_Store
# visual studio
.vs
*.pdb
*.user

# CMake
CMakeFiles
build*/
.cache

# Emscripten
*.html
*.wasm
*.js
*.data
